/layout/votacao/node_modules
/layout/admin/node_modules
/layout/votacao/bower_components
/layout/admin/bower_components
/layout/votacao/build
/layout/admin/build
/votaai/Votaai/ClassesBanco/bin
/votaai/Votaai/ClassesConexao/bin
/votaai/Votaai/bin
/votaai/Votaai/Votaai.v11.suo
/votaai/Votaai/Votaai.v12.suo
/votaai/Votaai/ClassesBanco/obj
/votaai/Votaai/ClassesConexao/obj
/votaai/Votaai/obj
