* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	overflow: hidden; 
	font-family: 'Lato', sans-serif;
}

/*
* Media queries 
* Max width = 400px for mobile devices,
* and max width 1024 for desktops.
*/

@media all and( max-width : 1024px ) {
		
	.cadastrar, .votar {
		padding-top: 20%;
	}

}


@media all and( max-width : 400px ) {
		
	body {
		height: auto;
		overflow-y: scroll;
	}

	.cadastrar, .votar {
		width: 100%;
		height: 237.4px;
		position: inherit;
		padding-top: 9%;
		i { font-size:140px; }
	}

	.votar { margin-left: 0; }
}

