* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	overflow: hidden; 
	font-family: 'Lato', sans-serif;
}

/*
* Media queries 
* Max width = 400px for mobile devices,
* and max width 1024 for desktops.
*/

@media all and( max-width : 1024px ) {
		
	.cadastrar, .votar {
		padding-top: 20%;
	}

}


@media all and( max-width : 400px ) {
		
	body {
		height: auto;
		overflow-y: scroll;
	}

	.cadastrar, .votar {
		width: 100%;
		height: 237.4px;
		position: inherit;
		padding-top: 9%;
		i { font-size:140px; }
	}

	.votar { margin-left: 0; }

	.container { 

		width: 95%;
		margin-left: 5%; 
	
	
		.title{ font-size: 33px; }	

		
		 .inputeleicao, 
		 .tituloeleitor {
			width: 90%;
			height: 60px;
			font-size: 44px;
			margin-top: 30px;
		}

		.arrow {
			display: block; 
			float: right;
			margin-right: 10%;
			margin-top: 30px;
			font-size: 70px;
		}

		.cargo { font-size: 60px; }

		.governador { font-size: 57px; }
	}

	.box-success h1 { font-size: 46px; }

	.box-success img { width: 80%; }

	.inicio { float: left; }
}

