.box-cadastro {
	padding-top: 15px; 

	h1 { font-size: 65px;
		 margin: 0;
		 padding-bottom: 40px; }
	
	.formleft { float: left; width: 180px; margin-top: 50px; }
	
	.formsecao { width: 190px; }

	.formspaceleft { margin-left: 160px; }
	
	.inputform {  
		width: 100%; } 

	.arrow { 
			float: left;
			margin-top: 240px;
			margin-left: 0; }

	.arrowcadastro { float: right; }
}