.container { 
	width: 960px; 
	margin: 0 auto; 
	
	.title { font-size:40px; margin-top:120px; }

	.tituloeleitor { 
		margin-top: 10px;
		height: 100px;
		border:none;
		border-bottom: 1px solid #000;
		width: 80%;
		outline: none;
		font-size: 80px;

	 }
}





