.container { 
	width: 960px; 
	margin: 0 auto; 
	
	.title { font-size:40px; }

	.inputeleicao, .selecteleicao { 
		margin-top: 10px;
		border:none;
		border-bottom: 1px solid #000;
		outline: none;
		background-color: $background-input-inputeleicao;
	}

	.inputeleicao { 
		height: 100px;
		font-size: 80px;
	 }

	.selecteleicao { 
		height: 48px;
		font-size: 45px;
	}

	.inputeleicaomin {
		font-size: 45px;
		height: 47px;
	}

	 .tituloeleitor { width: 58%; }

	.box { padding-top: 200px; }

	.arrow { 
		font-size: 90px;
		margin-left: 45px;

		&:hover { 
			cursor: pointer;
			color: $hover-arrow;
		}
	}
}





