<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add 
      name="VotaAiConnectionString"  
      connectionString="Driver={SQL Server Native Client 10.0};Server=tcp:td4cr1ttgv.database.windows.net,1433;Database=Votaai;Uid=Votaailgn@td4cr1ttgv;Pwd=VOTAai*1 ;Encrypt=yes;Connection Timeout=30;"
      providerName="System.Data.Odbc"
    />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>