doctype html
html(lang="en")
  include ./includes_jade/head.jade
body
  include ./includes_jade/menu.jade
  .cadastrar
    i(class="fa fa-plus-circle")
    h2.title Cadastrar
  a(href="section_1.html")
    .votar
      i(class="fa fa-users")
      h2.title Votar

