.container
  .box-candidato
    h1.cargo Presidente
    h2.title Por favor, digite o numero do candidato:
    input(name="numerocandidato" placeholder="00" maxlength="2" class="inputeleicao numerocandidato" onkeydown="mascara( this, soNumero );" id="presidente")
    i(class="fa fa-arrow-circle-right arrow" id="validaPresidente") 