.container
  .box-cadastro
    h1 Cadastre-se 
    h2.title Nome:  
    input(name="nome" placeholder="" class="inputeleicao")
    .formleft
      h2.title Idade:
      input(name="idade" placeholder="" class="inputeleicao inputform")
    .formleft.formspaceleft
      h2.title sexo:
      select.inputeleicao.inputform
        option(name="sexo" value="M") M
        option(name="sexo" value="F") F
    .formleft.formspaceleft
      h2.title Estado:
      select.inputeleicao.inputform
        option(name="estado" value="mg") MG
        option(name="estado" value="sp") SP   
    
    i(class="fa fa-arrow-circle-right arrow") 