.container
  .box-cadastro
    h1 Quase lá =)
    h2.title Título de eleitor:
    input(name="tituloeleitor" placeholder="0000.0000.000" class="inputeleicao" id="tituloEleitorCadastro")
    .formleft
      h2.title Zona:
      input(name="zona" placeholder="000" class="inputeleicao inputform" id="zonaEleitor")
    .formleft.formspaceleft.formsecao
      h2.title Seção:
      input(name="secao" placeholder="0000" class="inputeleicao inputform" id="secaoEleitor")

    i(class="fa fa-arrow-circle-right arrow arrowcadastro" id="finalizaCadastro")