.container
  .box-candidato
    h1(class="cargo governador") Governador
    h2.title Por favor, digite o numero do candidato:
    input(name="numerocandidato" value="00" class="inputeleicao numerocandidato" id="governador")
    i(class="fa fa-arrow-circle-right arrow" id="validaGovernador") 