.container
  .box-candidato
    h1.cargo Deputado Federal
    h2.title Por favor, digite o numero do candidato:
    input(name="numerocandidato" placeholder="0000" class="inputeleicao numerocandidato inputfederal")
    i(class="fa fa-arrow-circle-right arrow") 