.container
  .box-candidato
    h1.cargo Presidente
    h2.title Por favor, digite o numero do candidato:
    input(name="numerocandidato" value="00" class="inputeleicao numerocandidato" id="presidente")
    i(class="fa fa-arrow-circle-right arrow" id="validaPresidente") 