.container
  .box-success.cadastro
    h1 Cadastro realizado com sucesso ! 
    img(src="assets/img/logo.png", alt="Logomarca vota aí")
    br
    a(href="#" class="inicio")
      i(class="fa fa-arrow-circle-left arrow inicio" class="linkInicio")
