.container
  .box-cadastro
    h1.title Cadastro 

    h2.title Nome:
    input(name="Nome" value="" class="inputeleicao")

    .left
      h2.title Sexo:
      Select.selecteleicao
        option Masculino
        option Feminino
    .right  
      i(class="fa fa-arrow-circle-right arrow")  	

    .right
      h2.title Idade:
      input(name="idade" value="" class="inputeleicao inputeleicaomin inputidade" ) 
   