.container
  .box-candidato
    h1.cargo Deputado Estadual
    h2.title Por favor, digite o numero do candidato:
    input(name="numerocandidato" placeholder="00000" class="inputeleicao numerocandidato inputestadual" maxlength="5" onkeydown="mascara( this, soNumero );" id="deputadoEstadual")  
    i(class="fa fa-arrow-circle-right arrow" id="validaDeputadoEstadual") 