.container
  .box
    h2.title Por favor, digite seu título de eleitor:
    input(name="tituloeleitor" value="0000.0000.000" class="tituloeleitor inputeleicao")
    i(class="fa fa-arrow-circle-right arrow") 