doctype html
html(lang="en")
  include ./includes_jade/head.jade
body
  include ./includes_jade/menu.jade

  .container
    h2.title Por favor, digite seu título de eleitor:
    input(name="tituloeleitor" placeholder="0000.0000.0000" class="tituloeleitor")