head
  meta(charset='UTF-8')
  title Vota Aí - Sistema de urna mobile

  meta(name="viewport" content="width=device-width")

  //Import css files
  link(rel="stylesheet", href="../bower_components/normalize.css/normalize.css")
  link(rel="stylesheet", href="../bower_components/fontawesome/css/font-awesome.min.css")
  link(rel="stylesheet", href="assets/css/main.min.css")
  link(rel="stylesheet", href="../bower_components/fullpage.js/jquery.fullPage.css")
