head
  meta(charset='UTF-8')
  title Vota Aí - Sistema de urna mobile

  //Import css files
  link(rel="stylesheet" href="../bower_components/normalize.css/normalize.css")
  link(rel="stylesheet" href="assets/css/main.min.css")