script(src='../bower_components/jquery/dist/jquery.min.js')
script(src='../bower_components/jqueryui/jquery-ui.min.js')
script(src='../bower_components/jquery.slimscroll/jquery.slimscroll.min.js')
script(src='../bower_components/fullpage.js/jquery.fullpage.min.js')
script(type='text/javascript').
  $(document).ready(function() {
    $('#fullpage').fullpage({
      verticalCentered: false,
      resize : false,
      navigation: false,
      paddingTop: '0',
      paddingBottom: '0',
      keyboardScrolling: true,
      sectionsColor : ['', '#2980b9','#2980b9'] 
    });
  });
script(src="../bower_components/easyModal/jquery.easyModal.js")
script(src="assets/js/main.min.js")
  
